@import "tailwindcss";

.btn {
    background-color: var(--color-sky-100);
    &:hover {
      background-color: var(--color-sky-700);
    }
  }

  @layer utilities {
  .font-istok {
    font-family: "Istok Web", sans-serif;
  }
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
}

.marquee-track {
    display: flex;
    width: max-content;
    gap: 40px;

    animation: marquee 35s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}